* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 1920px;
    padding: 64px 158px 368px 158px;
    flex-direction: column;
    align-items: center;
}

.body {
    background: #E2F7FF;
    padding: 96px;
    width: 1604px;
    height: 2108px;
}

#please {
    width: 100%;
}

.body div > div img {
    border-radius: 16px;
}

.body div > div {
    padding: 0 32px;
    gap: 8px;
}

.body div > div div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.body div > div div:nth-of-type(1) h1 {
    color: #181D27;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 126.667% */
}

.body div > div div:nth-of-type(2) {
    display: flex;
    padding: 0;
}

.body div > div div:nth-of-type(3) {
    display: flex;
    padding: 0;
    gap: 8px;
    margin-top: 24px;
}

.body div > div div:nth-of-type(3) button:nth-of-type(1) {
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #E9D7FE;
    background: #F9F5FF;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    color: #6941C6;
    text-align: center;

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.body div > div div:nth-of-type(3) button:nth-of-type(2) {
    color: #3538CD;
    text-align: center;

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #C7D7FE;
    background: #EEF4FF;
}

.body div > div div:nth-of-type(3) button:nth-of-type(3) {
    color: #C11574;
    text-align: center;

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #FCCEEE;
    background: #FDF2FA;
}

.blogs div:nth-of-type(2) {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.blogs div:nth-of-type(2) h2 {
    color: #6941C6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.blogs div:nth-of-type(2) h3 {
    color: #181D27;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}

.blogs div:nth-of-type(2) p {
    color: #535862;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 384px;
}

.blogs div:nth-of-type(3) {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
}

.blogs div:nth-of-type(3) button {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #FCCEEE;
    background: #FDF2FA;
    color: #C11574;
    text-align: center;

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.blogs {
    margin-top: 64px;
    padding: 0;
}

.triple {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0;
}

